@model StocksViewModel
@using StocksEntities
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks</title>
</head>

<body>
    <div style="color: gray;"> this project is currently a work in progress, more stocks will be available in the future with live data
    </div>
    <div id="tickers">
    @foreach (Stocks stock in @Model.Stocks)
    {
        @if (stock.Symbol == "NVDA" || stock.Symbol == "BA" || stock.Symbol == "UPS" || stock.Symbol == "RTX")
        {
            <a id="symbol-link" href="~/Asset/Index/@stock.Symbol" style="color: green;">@stock.Symbol $356.78</a>
            
        }
    }
</div>
</body>

</html>