@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>stock notes</h3>
    <p>Web app used to create notes about your chosen stocks and track their price changes with additional insights.</p>
</div>
