@model AssetViewModel
@using StocksEntities
<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stocks</title>
</head>

<body>
	<h4>@Model.assetName <small>@Model.ticker</small></h4>

	<div id="columns">
		<div class="column">
			<p>p</p>
		</div>
		<div id="chartContainer" class="column" style="height: 320px; width: 100%;">
		<script type="text/javascript">

			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer", {
					theme: "light2",
					animationEnabled: true,
					axisX: {
						valueFormatString: "####"
					},
					data: [
						{
							type: "line", //change type to bar, line, area, pie, etc
							dataPoints: @Html.Raw(ViewBag.DataPoints)
			}
					]
				});
				chart.render();
			};
		</script>
		</div>
	</div>



</body>

</html>